/* Cài đặt chung */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: inherit;
    overflow-x: hidden; /* Tắt cuộn ngang */
}

nav {
    height: 50px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc((100vw - 1300px) / 2);
    position: relative;
}

.logo {
    color: #000;
    font-size: 1.25rem;
    padding: 0 1.5rem;
    text-decoration: none;
}
.logo a {
    text-decoration: none; /* Không gạch chân logo */
    color: inherit; /* Kế thừa màu sắc từ logo */
}

.nav-items {
    list-style: none;
    display: flex;
    z-index: 1001;
}

.nav-items li {
    padding: 0 1.5rem;
}

.nav-items a {
    text-decoration: none; /* Không gạch chân các liên kết trong menu */
    color: #000;
    display: flex; /* Để căn giữa nội dung bên trong */
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 100%; /* Chiều cao đầy đủ để căn giữa tốt hơn */
}

/* Style cho màn hình lớn (Laptop) */
@media (min-width: 768px) {
    .hero-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 60vh;
        padding: 3rem calc((100vw - 1300px) / 2);
        align-items: center; ;
    }

    .column-left h1 {
        font-size: 50px;
    }

    .column-left h1,
    .column-left p,
    .column-left a {
        margin-bottom: 20px; /* Khoảng cách dưới mỗi phần tử là 10px */
    }
    
    .nav-items {
        display: flex; /* Hiển thị thanh điều hướng trên laptop */
    }

    .hamburger, .close-btn {
        display: none; /* Ẩn hamburger và nút đóng trên laptop */
    }

    .projects {
        background: #f4e8db;
        padding: 140px;
    }
    
    .projects-container {
        display: flex;
        overflow-x: auto;
        padding-bottom: 10px;
    }

    .project {
        flex-direction: column;
        align-items: center;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 0 10px;
        width: calc(33.33% - 20px);
        max-width: 300px;
        flex-shrink: 0;
        text-decoration: none;
        color: inherit;
    }

    .project img {
        width: 90%;
        padding-top: 10px;
        object-fit: cover;
    }
}

/* Style cho màn hình nhỏ (Điện thoại) */
@media (max-width: 767px) {
    .hero-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 2rem;
    }

    .column-left h1, .column-right h1 {
        margin: 20px 0;
        font-size: 30px;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 0.5rem;
    }

    .hamburger .bar {
        width: 25px;
        height: 3px;
        background-color: #000;
        margin: 4px 0;
        transition: all 0.3s;
    }

    .nav-items {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 999;
    }

    .nav-items li {
        margin: 1.5rem 0;
    }

    .nav-items a {
        color: white;
        font-size: 1.5rem;
    }

    .nav-items.active {
        display: flex;
    }

    .close-btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        color: white;
        font-size: 2rem;
        z-index: 1002;
    }
    
    button {
        margin: 20px 0;
        padding: 0.75rem 2rem;
        font-size: 0.875rem;
    }

    .projects {
        background: #f4e8db;
        padding: 60px;
    }

    .projects-container {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        max-width: 100vw;
    }

    .project {
        display: flex;
        flex-direction: column; /* Đặt hướng các phần tử con theo chiều dọc */
        align-items: center; /* Căn giữa nội dung */
        background: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin: 0 10px; /* Khoảng cách giữa các project */
        width: calc(90%); /* Chiều rộng của mỗi project chiếm 1/3 chiều rộng container */
        max-width: 200px; /* Giới hạn chiều rộng tối đa nếu cần */
        flex-shrink: 0; /* Đảm bảo các project không thu nhỏ khi container bị thu hẹp */
        text-decoration: none; /* Xóa gạch chân cho link */
        color: inherit; /* Thừa hưởng màu sắc từ các phần tử con */
    }

    .project img {
        width: 100%;
        padding-top: 0;
    }
}

/* Style chung */
.hero {
    background: #000;
}

.column-left, .column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: beige;
    padding: 0 2rem;
}

button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: antiquewhite;
    background: #0a4e985e;
    cursor: pointer;
    border-radius: 50px;
    transition: background 0.3s, color 0.3s, transform 0.3s ease;
}

button:hover {
    background: #03182e;
    color: white;
    transform: scale(1.1);
}

/*------------Dành cho blog------------*/
.side-nav {
    width: 250px;
    margin-top: 50px;
    background-color: #f4f4f4;
    padding: 20px;
    position: fixed; /* Làm cho nav cố định */
    top: 0;
    left: 0;
    height: 100%; /* Đảm bảo nav chiếm toàn bộ chiều cao của trang */
    overflow-y: block; /* Thêm cuộn dọc nếu nội dung vượt quá chiều cao */
}

.blog {
    margin-left: 250px; 
    background-color: #ebe4d195; /* Màu nền mới cho block-header */
    padding: 20px;
    position: relative; /* Đặt lại vị trí để không cố định */
    height: auto; /* Chiều cao tự động */
    overflow-y: auto; /* Thêm cuộn dọc nếu nội dung vượt quá chiều cao */
}
