.top-nav {
    height: 50px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px)/2);
    position: fixed; /* Để cố định thanh nav trên cùng */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Đảm bảo nó luôn ở trên các phần tử khác */
}


.logo {
    color: #fdcc04;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 1.5rem;
}

.top-nav a {
    text-decoration: none;
    color: #fdcc04;
    padding: 0 1.5rem;
}


button {
    padding: 1rem 3rem; /* Kích thước đệm x và y */
    font-size: 1rem;
    border: none;
    color: antiquewhite;
    background: #000;
    cursor: pointer;
    border-radius: 50px;
    transition: background 0.3s, color 0.3s, transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi cho background, color và transform */
}

button:hover {
    background: #fdcc04;
    color: #000;
    transform: scale(1.1); /* Phóng to nút khi di chuột qua */
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
}

main {
    margin-top: 50px;
    margin-left: 260px; /* Để tránh nội dung bị che bởi nav */
    padding: 20px;
    flex: 1;

}

.side-nav {
    width: 220px;
    margin-top: 50px;
    background-color: #f4f4f4;
    padding: 20px;
    position: fixed; /* Làm cho nav cố định */
    top: 0;
    left: 0;
    height: 100%; /* Đảm bảo nav chiếm toàn bộ chiều cao của trang */
    overflow-y: block; /* Thêm cuộn dọc nếu nội dung vượt quá chiều cao */
}

.toggle-icon {
    display: inline-block;
    text-align: right;
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

nav ul li a:hover {
    color: #000000; /* Màu đen */
    font-weight: bold; /* Tô đậm chữ */
}

nav ul li ul {
    list-style-type: none;
    padding-left: 20px; /* Thụt lề các mục con */
    display: none; /* Ẩn mục con ban đầu */
}

nav ul li ul.expanded {
    display: block; /* Hiển thị mục con nếu được mở rộng */
}


header {
    color: #333;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 1px solid #c2c0c0;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-weight: bold;
    background-color: #f4f4f4; /* Tô khối màu xám nhạt */
    padding: 10px; /* Khoảng cách giữa văn bản và viền khối */
    border-radius: 5px; /* Bo góc */
    margin-bottom: 20px;
}

p {
    line-height: 1.5;
    text-align: justify;
    color: #333
}

img {
    max-width: 100%; /* Đảm bảo ảnh không vượt quá chiều ngang của khối chứa */
    height: auto; /* Giữ tỷ lệ chiều cao tự động */
    display: block; /* Để ảnh là một block element */
    margin: 0 auto; /* Canh giữa ảnh */
}


